<!-- cancel_booking.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Booking</title>
    <!-- Add any additional styles or scripts here -->
</head>
<body>

    <h1>Cancel Booking</h1>

    {% if room %}
        <div>
            <img src="{{ room.room_image.url }}" >
            <p>Room Number: {{ room.room_no }}</p>
            
            <p>Price: ${{ room.price }}</p>
           

            <form method="post" action="/dashboard/cancel/{{booking_no}}">
                {% csrf_token %}
                <button type="submit">Cancel Booking</button>
            </form>
        </div>
    {% else %}
        <p>Room not found</p>
    {% endif %}

    <!-- Add any additional content or features here -->

</body>
</html>
